<body class="login-page">
    <div class="login-background-container">
        <div class="login-text">
            <%=button_to "Sign in / Sign up", new_user_session_path, class:"btn btn-primary"%>
        </div>
    </div>
</body>