<p style="color: green"><%= notice %></p>

<% content_for :title, "Transactions" %>

<h1>Transactions</h1>

<div id="transactions">
  <% @transactions.each do |transaction| %>
    <%= render transaction %>
    <p>
    <%= link_to "Show this transaction", account_transaction_path(@account, @transaction) %>
    </p>
  <% end %>
</div>

<%= link_to "New transaction", new_account_transaction_path(@account) %>
