<% content_for :title, "New transaction" %>

<h1>New transaction</h1>

<%= render 'form', account: @account, transaction: @transaction %>

<br>

<div>
  <%= link_to "Back to transactions", account_transactions_path %>
</div>
